body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #331D2C;
}

h1 {
    margin: 40px auto;
    color: #A78295;
    text-align: center;
}
ul {
    max-width: 960px;
    margin: 0 auto;
    list-style-type: none;
    color: #EFE1D1;
    text-align: center;
    border: 1px solid #eee;
}
form {
    margin: 10px 0px 0px 0px;
    text-align: center;
}
input,
select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
button {
    color: white;
    border: 0;
    background: #525fe1;
    padding: 6px;
    min-width: 80px;
    border-radius: 4px;
}